# Pandas Data Analysis Workshop

**Dataset:** Adult Income Dataset from UCI Machine Learning Repository - https://archive.ics.uci.edu/dataset/2/adult

### Structure

- **Part 1:** Data Loading and Exploration
- **Part 2:** Data Cleaning and Transformation
- **Part 3:** GroupBy Operations and Aggregations
- **Part 4:** Advanced Analysis with Apply Functions
- **Part 5:** Data Visualization

## Part 1: Data Loading and Exploration

Let's start by importing necessary libraries and loading our dataset.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn-v0_8')
sns.set_palette("husl")
%matplotlib inline

In [9]:
# Load the dataset

df = pd.read_csv("data/adult.data.csv")

# Print dataset shape and first 5 rows
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# Exercise 1.1: Basic Dataset Information
# Task: Explore the dataset structure and understand the columns

# 1. Display the column names and data types
<YOUR CODE>
# Use info() method

# 2. Check for missing values
<YOUR CODE>
# Use isnull() and sum()

# 3. Display basic statistical summary
<YOUR CODE>
# Use describe() method

In [ ]:
# Exercise 1.2: Understanding Categorical Variables
# Task: Explore unique values in categorical columns

# Define categorical columns
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 
                      'relationship', 'race', 'sex', 'native-country', 'salary']

# Loop through categorical columns and display unique values and counts
<YOUR CODE>
# For each column, print number of unique values, most common value, and value counts for columns with few unique values

## Part 2: Data Cleaning and Transformation

Let's clean our data and prepare it for analysis.

In [ ]:
# Exercise 2.1: Handling Missing Values
# Task: Identify and handle missing values represented as '?'

# Check for '?' values in categorical columns
<YOUR CODE>
# Loop through categorical columns and count '?' values

# Replace '?' with NaN for better handling
<YOUR CODE>
# Use replace() method

# Check missing values again
<YOUR CODE>
# Print missing values after replacement

In [ ]:
# Exercise 2.2: Data Type Conversion and Feature Engineering
# Task: Create new features and convert data types

# Convert salary to binary numeric variable
<YOUR CODE>
# Use map() to convert '<=50K' to 0 and '>50K' to 1

# Create age groups
<YOUR CODE>
# Use pd.cut() to create age groups: 18-25, 26-35, 36-45, 46-55, 56-65, 65+

# Create hours per week categories
<YOUR CODE>
# Use pd.cut() to create categories: Part-time (0-20), Full-time (20-40), Overtime (40-60), Excessive (60+)

# Print the new features created
<YOUR CODE>
# Display value counts for the new features

## Part 3: GroupBy Operations and Aggregations

Learn to use groupby for powerful data aggregation.

In [ ]:
# Exercise 3.1: Basic GroupBy Operations
# Task: Analyze income by different demographic factors

# Income distribution by education
<YOUR CODE>
# Group by education and calculate mean and count of salary_binary, then sort by mean

In [ ]:
# Exercise 3.2: Multi-level GroupBy
# Task: Analyze income by multiple factors

# Income by education and sex
<YOUR CODE>
# Group by education and sex, calculate mean and count of salary_binary, then sort by mean

In [ ]:
# Exercise 3.3: Advanced Aggregations
# Task: Create comprehensive summary statistics

# Multiple aggregations by occupation
<YOUR CODE>
# Group by occupation and aggregate:
# - age: mean, std, min, max
# - hours-per-week: mean
# - salary_binary: mean
# - education-num: mean
# Then sort by salary_binary mean

In [ ]:
# Exercise 3.4: Pivot Tables
# Task: Use pivot tables for cross-tabulation

# Create pivot table: income rate by workclass and education
<YOUR CODE>
# Use pd.pivot_table with workclass as index, education as columns, and salary_binary as values with mean aggregation

## Part 4: Advanced Analysis with Apply Functions

Learn to use apply functions for custom transformations and analysis.

In [ ]:
# Exercise 4.1: Using Apply with Custom Functions
# Task: Create custom features using apply

# Create a function to categorize capital gains
<YOUR CODE>
# Define function categorize_capital_gains that returns:
# 'No Gain' if capital-gain == 0
# 'Small Gain' if capital-gain < 5000
# 'Medium Gain' if capital-gain < 10000
# 'Large Gain' otherwise

# Apply the function
<YOUR CODE>
# Use apply() to create capital_gain_category column

# Print capital gain categories
<YOUR CODE>
# Display value counts

In [ ]:
# Exercise 4.2: Apply with Lambda Functions
# Task: Use lambda functions for quick transformations

# Create a simplified education level
<YOUR CODE>
# Use apply with lambda function to create education_simple:
# 'High School' if contains 'HS' or is in ['9th', '10th', '11th', '12th']
# 'College' if in ['Bachelors', 'Some-college', 'Assoc-acdm', 'Assoc-voc']
# 'Advanced' if in ['Masters', 'Doctorate', 'Prof-school']
# 'Basic' otherwise

# Print simplified education levels
<YOUR CODE>
# Display value counts

# Check income rate by simplified education
<YOUR CODE>
# Group by education_simple and calculate mean of salary_binary, then sort

In [ ]:
# Exercise 4.3: Apply with Multiple Columns
# Task: Create composite features

# Create a wealth indicator based on capital gains and losses
<YOUR CODE>
# Use apply with lambda to calculate net_capital (capital-gain minus capital-loss)

# Categorize net capital
<YOUR CODE>
# Use pd.cut() to create wealth_indicator with bins [-inf, -1, 0, 5000, inf] and labels ['Loss', 'Neutral', 'Small Gain', 'Large Gain']

# Print wealth indicator distribution
<YOUR CODE>
# Display value counts

# Print income rate by wealth indicator
<YOUR CODE>
# Group by wealth_indicator and calculate mean of salary_binary, then sort

## Part 5: Data Visualization

Create insightful visualizations using matplotlib and seaborn.

In [ ]:
# Exercise 5.1: Basic Visualizations with Matplotlib
# Task: Create basic distribution plots

# Create a 2x2 subplot figure
<YOUR CODE>
# Use plt.subplots(2, 2, figsize=(15, 10))

# Plot 1: Age distribution histogram
<YOUR CODE>
# Create histogram of age with 30 bins

# Plot 2: Hours per week distribution histogram
<YOUR CODE>
# Create histogram of hours-per-week with 30 bins

# Plot 3: Top 10 education levels bar chart
<YOUR CODE>
# Create bar chart of top 10 education levels by count

# Plot 4: Salary distribution pie chart
<YOUR CODE>
# Create pie chart of salary distribution with percentages

# Display the plots
<YOUR CODE>
# Use plt.tight_layout() and plt.show()

In [ ]:
# Exercise 5.2: Advanced Visualizations with Seaborn
# Task: Create more sophisticated plots

# Create a 2x2 subplot figure
<YOUR CODE>
# Use plt.subplots(2, 2, figsize=(16, 12))

# Plot 1: Box plot of age by salary
<YOUR CODE>
# Use sns.boxplot with salary on x-axis and age on y-axis

# Plot 2: Count plot of education by salary (top 8 education levels)
<YOUR CODE>
# Filter for top 8 education levels and use sns.countplot with education on x-axis and hue by salary

# Plot 3: Bar plot of top 10 occupations by income rate
<YOUR CODE>
# Calculate top 10 occupations by salary_binary mean and use sns.barplot

# Plot 4: Heatmap of correlation matrix
<YOUR CODE>
# Calculate correlation matrix for numeric columns and use sns.heatmap with annotations

# Display the plots
<YOUR CODE>
# Use plt.tight_layout() and plt.show()

In [ ]:
# Exercise 5.3: Interactive and Advanced Visualizations
# Task: Create more complex visualizations

# Facet grid: Age distribution by education and salary
<YOUR CODE>
# Use sns.FacetGrid with col='education_simple' and hue='salary', then map histplot of age

In [ ]:
# Exercise 5.4: Custom Visualization Challenge
# Task: Create your own insightful visualization

# Create a custom visualization showing income patterns by age group and gender
<YOUR CODE>
# Calculate income rates by age_group and sex, unstack, then create a bar plot
# Add title, labels, legend, and grid

### Key Takeaways

1. **Data Exploration**: Always start by understanding your data structure, missing values, and basic statistics
2. **Data Cleaning**: Handle missing values, convert data types, and create useful features
3. **GroupBy Operations**: Powerful for aggregating data by categories
4. **Apply Functions**: Flexible way to create custom transformations
5. **Visualization**: Essential for understanding patterns and communicating insights

### Practice Exercises for Further Learning

1. Analyze the relationship between native country and income
2. Create a visualization showing the distribution of work hours by occupation
3. Build a composite score that combines education, age, and work experience
4. Compare income patterns between different racial groups
5. Create a dashboard with multiple linked visualizations

### Resources
- [Pandas Documentation](https://pandas.pydata.org/docs/)
- [Seaborn Gallery](https://seaborn.pydata.org/examples/index.html)
- [Matplotlib Tutorials](https://matplotlib.org/stable/tutorials/index.html)
- [Dataset Source](https://archive.ics.uci.edu/dataset/2/adult)